## How to generate the data for DB


* **Suppliers** and **Customers** can be generated independently. 
* For *any*/*every* Supplier, some **Products** can be generated (dependence). 
* For *any*/*every* Customer, some **Orders** can be generated (dep.).
* For *any*/*every* Order, some **Order_items** and a **Shipment** can be generated (2 deps.).
    * for every **Order_item**, one existing product have to selected.

In [39]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [6]:
random_countries = [
    "Finland", "Sweden", "Norway", "Denmark", "Iceland",
    "Germany", "France", "Italy", "Spain", "Portugal",
    "Netherlands", "Belgium", "Switzerland", "Austria", "Poland",
    "Czech Republic", "Slovakia", "Hungary", "Greece", "Turkey",
    "United Kingdom", "Ireland", "Russia", "Ukraine", "Romania",
    "Bulgaria", "Croatia", "Serbia", "Slovenia", "Lithuania",
    "Latvia", "Estonia", "Belarus", "Moldova", "Albania",
    "North Macedonia", "Bosnia and Herzegovina", "Montenegro", "Kosovo",
    "Cyprus", "Malta", "Luxembourg", "Liechtenstein", "Monaco",
]

get_random_country = lambda: np.random.choice(random_countries)

In [24]:
path = "../../data/"
fname = "products.csv" 
#fname = "companies.csv"
#fname = "common-surnames-by-country.csv"
#fname = "common-forenames-by-country.csv"
#fname = "male.txt"
#fname = "female.txt"

In [25]:
data = pd.read_csv(path + fname)
data.head()

,S.No,BrandName,Product ID,Product Name,Brand Desc,Product Size,Currancy,MRP,SellPrice,Discount,Category
0,1,4711,FR001,Cologne Fragrance,ekw eau de cologne 400 ml,Small,Rs.,3900,3120,20% off,Fragrance-Women
1,2,109f,DRW1,DRW1 - Westernwear-Women,womens v- neck short dress - yellow,"Size:Medium,Small,X-Large,XX-Large",Rs.,1899,569,70% off,Westernwear-Women
2,3,109f,DRW2,DRW2 - Westernwear-Women,womens round neck solid top - black,"Size:Large,Medium,Small,X-Large",Rs.,1499,599,60% off,Westernwear-Women
3,4,109f,DRW3,DRW3 - Westernwear-Women,womens round neck stripe shift dress - red,"Size:Medium,Small",Rs.,1599,639,60% off,Westernwear-Women
4,5,109f,DRW4,DRW4 - Westernwear-Women,womens round neck solid high low top - black,"Size:Large,Medium,Small,X-Large",Rs.,1199,479,60% off,Westernwear-Women

In [27]:
for column in data.columns: print(column)

S.No
BrandName
Product ID
Product Name
Brand Desc
Product Size
Currancy
MRP
SellPrice
Discount
Category

In [30]:
as_product = lambda x: (x["Product Name"], x["Category"], round(x["SellPrice"]*0.0109,2))
as_product(data.iloc[0])

('Cologne Fragrance', 'Fragrance-Women', np.float64(34.01))

In [14]:
data.Country.unique()

array(['AM', 'AZ', 'BD', 'KH', 'CN', 'GE', 'IN', 'IL', 'JP', 'KZ', 'KR',
       'NP', 'PH', 'RU', 'LK', 'TR', 'VN', 'TW', 'AL', 'AT', 'BY', 'BE',
       'BA', 'BG', 'HR', 'CZ', 'DK', 'FO', 'EE', 'FI', 'FR', 'DE', 'GR',
       'HU', 'IS', 'IE', 'IT', 'XK', 'LV', 'LT', 'LU', 'MT', 'MD', 'ME',
       'NL', 'MK', 'NO', 'PL', 'PT', 'RO', 'RS', 'SK', 'SI', 'ES', 'SV',
       'CH', 'UA', 'GB', 'CA', 'CR', 'CU', 'DO', 'GT', 'MX', 'US', 'AU',
       'FJ', 'NZ', 'AR', 'BR', 'CL', 'CO', 'PY', 'PE', 'SR'], dtype=object)

In [23]:
locations = [item.split()[0] for item in data.Headquarters.unique()]
locations

['Mumbai',
 'Dublin',
 'Mumbai',
 'Teaneck',
 'Mumbai',
 'Bangalore',
 'Mumbai',
 'Paris',
 'Pune',
 'Noida',
 'New',
 'Navi',
 'New',
 'Bangalore',
 'New',
 'Berkshire',
 'Ahmedabad',
 'New',
 'Mumbai',
 'Washington',
 'Bangalore',
 'Mumbai',
 'Seoul',
 'New',
 'Stockholm',
 'New',
 'Mumbai',
 'Mumbai',
 'Paris',
 'Mumbai',
 'Mumbai',
 'London',
 'Navi',
 'Hyderabad',
 'Pittsford',
 'Tysons',
 'California',
 'Mumbai',
 'Gurugram',
 'Bangalore',
 'Pune',
 'Bangalore',
 'Mumbai',
 'Bengaluru',
 'Shenzhen',
 'London',
 'Noida',
 'London',
 'Espoo',
 'New',
 'Bengaluru',
 'Chennai',
 'Seoul',
 'Dongguan',
 'Ahmedabad,',
 'Kolkata',
 'Chennai',
 'Kochi',
 'Tokyo,',
 'Ann',
 'Mumbai',
 'Sttugart',
 'Hosur',
 'Bengaluru',
 'Minnesota',
 'New',
 'Bangalore',
 'Gurugram',
 'Mumbai',
 'Hyderabad',
 'New',
 'Kolkata',
 'Hyderabad',
 'California',
 'Canonsburg,Pennsylvania',
 'Troy',
 'Gurugram',
 'Florida',
 'New',
 'Noida',
 'New',
 'Mumbai',
 'Ahmedabad',
 'Texas',
 'Thrissur',
 'Gurgaon',
 'Illinois',
 'Chicago',
 'Greater',
 'Hyderabad',
 'Amsterdam',
 'Michigan',
 'Edinburgh',
 'Paris',
 'Bangalore',
 'Chennai',
 'Florida',
 'Bezons',
 'Pune',
 'New',
 'Jaipur',
 'Hyderabad',
 'Hyderabad',
 'Tokyo',
 'Noida',
 'Illinois',
 'Pune',
 'Amstelveen',
 'Chennai',
 'Montreal',
 'New',
 'Rueil-Malmaison',
 'Noida',
 'Mumbai',
 'Moline',
 'Bengaluru',
 'Zurich',
 'Los',
 'Mumbai',
 'New',
 'Gurugram',
 'London',
 'Bangalore',
 'Dubai',
 'New',
 'New',
 'Ahmedabad',
 'Ahmedabad',
 'Gurgaon',
 'Pune',
 'Columbus',
 'Frankfurt',
 'New',
 'New',
 'Aliso',
 'Durham',
 'Gurgaon',
 'London',
 'San',
 'New',
 'Brussels',
 'New',
 'New',
 'Gurgaon',
 'Vadodara',
 'Kanpur',
 'Delhi',
 'London,England',
 'Kolkata',
 'Copenhagen',
 'San',
 'Toronto',
 'Chesterfield',
 'Chennai',
 'New',
 'Chennai',
 'Vevey',
 'Ahmedabad',
 'San',
 'Bhopal',
 'Banglore',
 'Iwata',
 'Bengaluru',
 'Kolkata',
 'Gurgaon',
 'Thane',
 'Charlotte',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Diemen',
 'Faridabad',
 'Bangalore',
 'Bangalore',
 'Tirupati',
 'Virginia',
 'Gothenberg',
 'Panchkula',
 'Florham',
 'San',
 'Chennai',
 'London',
 'Mumbai',
 'Southborough',
 'Pune',
 'West',
 'Pune',
 'Bhopal',
 'Gurgaon',
 'Bangalore',
 'Delhi',
 'Chennai',
 'Tamil',
 'New',
 'California',
 'Sigma',
 'Bangalore',
 'Noida',
 'Plano',
 'Hyderabad',
 'Osaka',
 'Benton',
 'London',
 'Kolkata',
 'Gurugram',
 'Tokyo',
 'Aurangabad',
 'Bengaluru',
 'Noida',
 'Secunderabad',
 'Bangalore',
 'Noida',
 'Chennai',
 'California',
 'Brookfield',
 'Zurich',
 'Tokyo',
 'Berne',
 'Marousi',
 'Bangalore',
 'Noida',
 'Bangalore',
 'Berlin',
 'Hoshiarpur',
 'Suwon-si',
 'Noida',
 'Chennai',
 'Cork',
 'Slough',
 'Saint',
 'Florida',
 'Paris',
 'Mumbai',
 'New',
 'Fornebu',
 'Gurgaon',
 'Rocester',
 'Hyderabad',
 'Pune',
 'Ludhiana',
 'Gurugram',
 'Paris',
 'Pune',
 'Singapore',
 'Geneva',
 'Varanasi',
 'Noida',
 'Mumbai',
 'Mumbai',
 'New',
 'New',
 'Bengaluru',
 'Bangalore',
 'New',
 'Bonn',
 'Cincinnati',
 'Pune',
 'Ahmedabad',
 'Bentonville',
 'Hyderabad',
 'Boston',
 'Abu',
 'Bethesda',
 'New',
 'Basel',
 'Noida',
 'Toronto',
 'Boston',
 'Los',
 'Mumbai',
 'London',
 'Washington,D.C.',
 'Gurgaon',
 'Leverkusen',
 'Noida',
 'Tokyo',
 'Pune',
 'Copenhagen,Denmark',
 'Chandigarh',
 'Selangor',
 'Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad',
 'London',
 'California',
 'Chennai',
 'Gurgaon',
 'Blue',
 'New',
 'Mumbai',
 'Bengaluru',
 'Gurugram',
 'Gurgaon',
 'New',
 'Miami',
 'Ludhiana',
 'Falls',
 'Minnesota',
 'Norwalk,Connecticut',
 'Noida',
 'North',
 'Memphis',
 'Hertfordshire',
 'Gurgaon',
 'New',
 'Noida',
 'Gurgaon',
 'Noida',
 'New',
 'Ahmedabad',
 'Gurgaon',
 'Morelia',
 'Mumbai',
 'Espoo',
 'Taipei',
 'Los',
 'Hyderabad',
 'Faridabad',
 'The',
 'Chicago',
 'Atlanta',
 'Santa',
 'Kariya',
 'San',
 'Chicago',
 'New',
 'Hyderabad',
 'California',
 'Noida',
 'Vadodara',
 'Udaipur',
 'New',
 'Pune',
 'East',
 'Noida,UP',
 'Chicago,IL',
 'Amsterdam',
 'Ahmedabad',
 'Kolkata',
 'New',
 'Chennai',
 'Gurgaon,Haryana',
 'Manesar',
 'Indore',
 'Mumbai,India',
 'Milpitas,CA',
 'Marseille',
 'Gothenburg',
 'New',
 'Pune',
 'New',
 'Reston',
 'Bangalore',
 'Mumbai',
 'Mumbai,Maharashtra',
 'Lausanne',
 'New',
 'Pontedera',
 'Bengaluru',
 'Stuttgart',
 'Nagpur',
 'Chennai',
 'Brentford',
 'Chennai',
 'New',
 'Lucknow',
 'Gerlingen',
 'Paris',
 'Osaka',
 'Hyderabad',
 'Minnesota',
 'Banglore',
 'Stockholm',
 'Mumbai',
 'Johannesburg',
 'Muscat',
 'Chicago',
 'Columbia',
 'Plano,Texas',
 'Paris',
 'Mumbai',
 'Walldorf',
 'Coimbatore',
 'Essen',
 'Mumbai',
 'Paris',
 'San',
 'Secunderabad',
 'New',
 'Toyota',
 'Gujarat',
 'Gurgaon',
 'Dallas',
 'Hook,Hampshire',
 'Dubai',
 'Coimbatore',
 'Chennai',
 'Mumbai',
 'Banglore',
 'New',
 'Coimbatore,Tamilnadu',
 'Navi',
 'Hyderabad',
 'Chicago',
 'Atlanta',
 'La',
 'Al',
 'Indore',
 'Melbourne',
 'Hyderabad',
 'Pune',
 'London',
 'Faridabad',
 'New',
 'Massachusetts',
 'New',
 'Atlanta',
 'Jalgaon',
 'Munich',
 'Gujarat',
 'Saint-Ouen',
 'New',
 'London',
 'Nashik',
 'Wilmington,DE,United',
 'Hyderabad',
 'Shenzhen',
 'Hyderabad,Telangana',
 'Redmond',
 'Nanterre',
 'Montreal',
 'New',
 'Vizcaya',
 'Hyderabad',
 'Kolkata',
 'Gurgaon',
 'Greater',
 'London',
 'California',
 'Chennai',
 'Hyderabad',
 'Hyderabad',
 'Chicago',
 'Mannheim',
 'Mumbai,India',
 'New',
 'Udaipur',
 'Gujarat',
 'Gurugram',
 'Henderson',
 'Chennai',
 'Shenzhen',
 'Gurgaon,Haryana',
 'Michigan',
 'Jharkhand',
 'Sarasota',
 'Coimbatore',
 'Chennai',
 'Stuttgart,Germany',
 'Lake',
 'Mumbai',
 'Chicago',
 'Lagos',
 'Cambridge,Cambridgeshire',
 'Chertsey',
 'Gurgaon',
 'London',
 'Stockholm',
 'Faridabad',
 'Bangalore',
 'New',
 'Jeddah',
 'Faridabad',
 'Munich',
 'Hyderabad',
 'Ann',
 'Hopkinton,MA',
 'GURUGRAM',
 'Mumbai',
 'Noida',
 'Banglore',
 'Hyderabad',
 'Kerala',
 'Jaipur',
 'Chennai',
 'Dublin',
 'Mumbai',
 'Bangalore',
 'London',
 'Hong',
 'Norwalk',
 'Chennai',
 'Mumbai',
 'Bangalore',
 'Billerica',
 'Lainate',
 'Irvine',
 'Kalol',
 'Bhubaneswar',
 'New',
 'Delhi',
 'New',
 'Miami',
 'West',
 'New',
 'Bangalore',
 'Detroit',
 'Copenhagen',
 'Kolkata',
 'New',
 'Maharashtra',
 'Espoo',
 'Aurangabad',
 'Basel',
 'Hyderabad',
 'Pune',
 'Redditch',
 'Hopkinton',
 'Jacksonville',
 'Paris',
 'Essen',
 'Thane',
 'Agra',
 'Hyderabad',
 'New',
 'Gurugram',
 'Schaffhausen',
 'Farmington',
 'Des',
 'Noida',
 'Kolkata',
 'Stamford',
 'Clichy',
 'Bangalore',
 'Gurgaon',
 'Navi',
 'Hanover',
 'Hamamatsu',
 'Eastleigh',
 'Schaffhausen',
 'Pune',
 'New',
 'Karur',
 'Paranaque',
 'Chennai',
 'Lake',
 'Hyderabad',
 'Chennai',
 'Bangalore,',
 'Kolkata',
 'Banglore',
 'Southfield',
 'Pune',
 'Dallas',
 'Bengaluru',
 'Surat',
 'Bengaluru',
 'Denmark',
 'Noida',
 'Howrah',
 'Aarhus',
 'Chennai',
 'San',
 'Navi',
 'Mumbai',
 'Noida',
 'Jamshedpur',
 'Ludwigshafen',
 'Noida',
 'Hyderabad',
 'Worli',
 'Westborough',
 'Madrid',
 'Los',
 'New',
 'Punjab',
 'Muscat',
 'Irving',
 'Lille',
 'Lucknow',
 'Cochin',
 'Maryland',
 'Bad',
 'Chennai',
 'Mumbai',
 'Boulogne-Billancourt',
 'Pune',
 'Jaipur',
 'Riyadh',
 'Shizuoka',
 'Monroe',
 'Greater',
 'Panchkula',
 'New',
 'Pune',
 'Gurgaon',
 'Paris',
 'Mumbai',
 'Hyderabad',
 'Hyderabad',
 'Chennai',
 'Madurai',
 'Englewood,Colorado',
 'Pune',
 'Rewari',
 'Secunderabad',
 'Ponzano',
 'Gurgaon',
 'Montreal',
 'Seattle',
 'Delhi',
 'Dhahran',
 'Hyderabad',
 'Kolkata',
 'Rajkot',
 'Ahmedabad',
 'Navi',
 'Houston',
 'Mumbai',
 'Ruwi',
 'New',
 'Jaipur,India',
 'Mumbai',
 'Gurgaon',
 'New',
 'Pune',
 'Muscat',
 'Indore',
 'Windsor',
 'Plantation,FL',
 'Newbury',
 'Cairo',
 'Seoul',
 'Calcutta',
 'GURGAON',
 'Vapi,Maharashtra',
 'Ahmadi',
 'Gurgaon',
 'Munich',
 'Gurugram',
 'North',
 'Siruseri',
 'Staffordshire',
 'Chennai',
 'Noida',
 'DELHI',
 'New',
 'New',
 'Chennai',
 'Bengaluru',
 'Navi',
 'Bellandur',
 'Pune',
 'Milwaukee',
 'New',
 'Gurgaon',
 'Ontario',
 'Schenectady,NY,United',
 'New',
 'Memphis',
 'Chennai',
 'Sacramento',
 'Gothenburg',
 'Evanston',
 'Lincolnshire',
 'North',
 'Dubai,United',
 'Gurgaon',
 'Haryana',
 'Santa',
 'Paris,France',
 'Mc',
 'Lahore',
 'Reston',
 'Chennai',
 'Stuttgart',
 'Kansas',
 'Johannesburg',
 'Tysons',
 'Chennai',
 'Centurion',
 'John',
 'Noida',
 'San',
 'Chennai',
 'Ahmedabad',
 'Faridabad',
 'Gurugram',
 'Navi',
 'Hyderabad',
 'Osaka',
 'New',
 'Vadodara',
 'Chennai',
 'Meghalaya',
 'Gurgaon',
 'Phagwara',
 'Florida',
 'Visakhapatnam',
 'Miami',
 'Gurugram',
 'Chennai',
 'Stamford',
 'Hyderabad',
 'Kolkata,India',
 'Ahmedabad',
 'Toronto',
 'Kerala',
 'Singapore',
 'Gurgaon',
 'New',
 'Pune',
 'Hyderabad',
 'Helsinki',
 'Chicago,IL,United',
 'Chandigarh',
 'Tokyo',
 'Gurgaon',
 'Tokyo',
 'Saint',
 'Santa',
 'Bangalore',
 'Bangalore',
 'San',
 'Pune',
 'New',
 'Chennai',
 'San',
 'Gurgaon',
 'Mumbai',
 'Mumbai',
 'New',
 'Ingolstadt',
 'Denham',
 'Jaipur',
 'Gardena,CA,United',
 'Jaipur',
 'Sulaibiya',
 'Pune',
 'Mumbai',
 'New',
 'Elgin,IL',
 'Delhi',
 'Gurgaon',
 'Mumbai',
 'Lucknow',
 'Lucknow',
 'New',
 'Bengaluru',
 'Coimbatore',
 'Paris',
 'Kolkata',
 'Columbus',
 'Coimbatore',
 'Chennai',
 'Kochi',
 'Eindhoven',
 'Gurugram',
 'Bangalore,India',
 'Pune',
 'Neuilly-sur-Seine',
 'Chennai',
 'Chandigarh',
 'Saint-Ouen',
 'New',
 'Bengaluru',
 'Navi',
 'Thiruvananthapuram',
 'Mumbai,India',
 'Gurgaon',
 'Bangalore',
 'Minneapolis',
 'Minneapolis',
 'Kochi',
 'Navi',
 'Noida',
 'Sharjah',
 'St',
 'Hyderabad',
 'Dubai',
 'Stockholm,Sweden',
 'Waltham',
 'Santa',
 'Atlanta',
 'Chennai',
 'Clermont-Ferrand',
 'Bayern',
 'Shenzhen',
 'Plainsboro',
 'Mumbai',
 'Mumbai,India',
 'Lucknow',
 'Westborough,MA,United',
 'Gutersloh',
 'New',
 'Gurugram',
 'ZÃ¼rich,Switzerland',
 'Navi',
 'Mountain',
 'Mumbai',
 'Mumbai',
 'Herzogenaurach',
 'Bhubaneshwar',
 'Hyderabad',
 'Hyderabad',
 'London,England,United',
 'Deerfield',
 'Paris',
 'Kozhikode',
 'Mumbai',
 'Udaipur',
 'Burbank',
 'Kolkata',
 'Bangalore',
 'Rewari',
 'Bengaluru',
 'Gandhinagar',
 'Epsom',
 'Franklin,TN',
 'Singapore',
 'Chennai',
 'London',
 'Kolkata',
 'Gurugram',
 'Kolkata',
 'Nagano',
 'Ohta-ku',
 'Bangalore',
 'Ahmedabad',
 'Bavaria',
 'London',
 'Nagpur,Maharashtra',
 'Bangalore',
 'Bangalore',
 'Atlanta',
 'Chennai,Tamil',
 'Gurgaon',
 'New',
 'New',
 'Manipal',
 'Noida',
 'Palo',
 'Gurgaon',
 'New',
 'Navi',
 'Secunderabad',
 'Missouri',
 'Thane',
 'Ras',
 'Wisconsin',
 'Faridabad',
 'Essen',
 'Pune',
 'Northbrook',
 'Chennai',
 'Thiruvananthapuram',
 'New',
 'Vadodara',
 'Ahmadi',
 'Punjab',
 'Battle',
 'Pune',
 'Bhiwadi',
 'Hamburg',
 'Kolkata',
 'Vadodara',
 'Noida',
 'Rajkot',
 'Tokyo',
 'Riyadh',
 'Vellore',
 'Jaipur',
 'Santa',
 'Faridabad',
 'Tokyo',
 'Bangalore',
 'New',
 'New',
 'Gurgaon',
 'Gujrat',
 'Ahmedabad',
 'Kolkata',
 'Abu',
 'Gurugram',
 'Surat',
 'Male',
 'Birmingham',
 'Southfield',
 'Madurai',
 'North',
 'Mumbai',
 'Nagoya',
 'Safat',
 'Bengaluru',
 'Singapore',
 'London',
 'London',
 'El',
 'Lucknow',
 'Teaneck',
 'San',
 'Southfield,MI',
 'Noida',
 'Pune',
 'Ahmedabad',
 'Salem',
 'Chicago',
 'Minneapolis',
 'Middlesex',
 'Noida',
 'Maryland',
 'New',
 'Mohali',
 'Thiruvananthapuram',
 'Quarry',
 'Helsinki',
 'Kolkata',
 'Maharashtra',
 'Mountain',
 'Al-Khobar',
 'Kolkata',
 'Zurich',
 'Herzogenaurach',
 'London',
 'Melsungen',
 'Gurugram',
 'Sunnyvale',
 'Simi',
 'Coimbatore',
 'Burnsville',
 'Coimbatore',
 'Chicago',
 'Bangalore',
 'Yamuna',
 'London',
 'Waltham,MA',
 'Noida',
 'Rajkot',
 'Illinois',
 'Bengaluru',
 'Yokohama-shi,Kanagawa',
 'Pittsford',
 'Dong-Gu',
 'Bengaluru',
 'Jaipur',
 'Hampshire',
 'Kolkata',
 'New',
 'Bengaluru',
 'Ahmedabad',
 'Tokyo',
 'Dublin',
 'Dallas',
 'Pune',
 'Kanpur',
 'Gurugram',
 'Tokyo',
 'Madurai',
 'Nagpur',
 'Bangalore',
 'New',
 'Chennai',
 'Corbetta',
 'Beijing',
 'Bengaluru',
 'Coimbatore',
 'Hoffman',
 'Bina',
 'Bangalore',
 'Graz',
 'Bangalore',
 'New',
 'Bengaluru',
 'Bengaluru',
 'Lisle,IL',
 'Thane',
 'Thane',
 'Greater',
 'Doha',
 'Pune',
 'Thiruvananthapuram',
 'Aurangabad',
 'Mc',
 'Mumbai,India',
 'Aichi',
 'Oak',
 'Raichur',
 'Dubai',
 'Rawang',
 'Howrah',
 'Boston,Massachusetts',
 'Hanover',
 'Munich',
 'Daman',
 'New',
 'Kolkata',
 'Gurgaon',
 'Pullach',
 'Bangalore',
 ...]

In [ ]:
def generate_dates(start, delta, freq='D', n=3):
    """
    Generate a list of n random dates within a specified range.
    
    Parameters:
    - start (datetime): The starting date.
    - delta (timedelta): The time delta to define the end date.
    - freq (str): Frequency string for date range generation (default is 'D' for
        daily).
    - n (int): Number of random dates to generate (default is 3).
    
    Returns:
    - tuple: A tuple containing two lists:
        - List of datetime objects.
        - List of date strings in 'YYYY-MM-DD' format.
    
    """
    end = pd.to_datetime(start+delta).date()
    seed = pd.date_range(start=start, end=end, freq=freq)
    dates = np.random.choice(seed, size=n, replace=False)
    dates = sorted(dates)
    py_dates = [pd.Timestamp(date).to_pydatetime() for date in dates]
    return py_dates, [str(date).split("T")[0] for date in dates]

In [83]:
generate_dates(datetime(2020, 1, 1), delta=timedelta(weeks=1))

([datetime.datetime(2020, 1, 2, 0, 0),
  datetime.datetime(2020, 1, 3, 0, 0),
  datetime.datetime(2020, 1, 6, 0, 0)],
 ['2020-01-02', '2020-01-03', '2020-01-06'])

In [65]:
datetime(2020, 1, 1) + timedelta(days=7)

datetime.datetime(2020, 1, 8, 0, 0)