In [ ]:
## Data loading

In [2]:
import pandas as pd
import numpy as np
import psycopg2

In [ ]:
pg_config = {
    'host': 'localhost',
    'port': 5432,
    'database': 'project_db',
    'user': 'postgres',
    'password': 'postgres'
}

```
CREATE TABLE Suppliers (
    supplier_id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    contact_info VARCHAR(255),
    country VARCHAR(100)
);
```

In [5]:
path = "../data/"
fname ="suppliers-final.csv"
data = pd.read_csv(path + fname)
data.head()

,supplier_id,name,contact_info,country
0,1,Sphinx Worldbiz,sphinxworldbiz@company.com,Italy
1,2,Continental Automotive C...,continentalautomotivec@company.com,Sweden
2,3,Aryan Imaging & Business...,aryanimagingbusiness@company.com,Netherlands
3,4,J G Hosiery,jghosiery@company.com,Finland
4,5,Mukesh & Associates,mukeshassociates@company.com,Canada

In [ ]:
conn = psycopg2.connect(**pg_config)
with conn.cursor() as cur:
    for i, row in data.iterrows():
        sql = """
        INSERT INTO suppliers (supplier_id, name, contact_info, country)
        VALUES (%s, %s, %s, %s)
        """
        cur.execute(sql, tuple(row))
    conn.commit()

In [ ]:
conn.close()

```
CREATE TABLE Customers (
    customer_id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    location VARCHAR(255),
    email VARCHAR(255) UNIQUE NOT NULL
);
```

In [10]:
fname = "customers-final.csv"
data = pd.read_csv(path + fname)
data.head()

   customer_id            name   location                      email
0            1  Selena Venegas  Bengaluru  selena.venegas0@gmail.com
1            2   Tessy Woźniak       Doha   tessy.woźniak1@gmail.com
2            3       Forbes Ko      Noida       forbes.ko2@gmail.com
3            4    Jo Ann Dahan  Bengaluru     joann.dahan3@gmail.com
4            5    Jacinta Díaz   Vadodara    jacinta.díaz4@gmail.com

In [16]:
conn = psycopg2.connect(**pg_config)
with conn.cursor() as cur:
    for i, row in data.iterrows():
        sql = """
        INSERT INTO Customers (customer_id, name, location, email)
        VALUES (%s, %s, %s, %s)
        """
        cur.execute(sql, tuple(row))
    conn.commit()

In [17]:
conn.close()